:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif;

  --clr-dark: black;
  --clr-dark-light: grey;
  --clr-light: white;
  --clr-accent: purple;

  --ff-400: 1.3125rem;
  --ff-300: 1rem;
  --ff-200: 0.875rem;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: var(--ff-400);
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-accent);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1em;
}

.container {
  /* margin-inline: auto; */
  margin: 1rem auto 0;
  width: min(90%, 70.5rem);
}

section {
  padding: 4em 0;
}

.nav,
.footer {
  width: 90vw;
  padding: 2em 0;
}

/* More space from content */
.footer {
  margin-top: 5em;
  padding: 5rem 0;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

/* Grid */
.grid {
  display: grid;
  gap: 1rem;
}

/* header and featured */
.three-col {
  grid-template-columns: repeat(3, 1fr);
}

.video {
  grid-template-columns: 2fr 1fr;
}

.sign-up,
.footer {
  grid-template-columns: auto auto;
}

.featured > img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

/* Videos */
.video-container {
  max-width: 853px;
}

video {
  width: 100%;
  height: auto;
}

/* Best sellers */
.best-sellers-grid {
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'monstera'
    'rubber-fig'
    'snake-plant'
    'rattlesnake-plant';
}

@media (min-width: 429px) {
  .best-sellers-grid {
    grid-template-areas:
      'monstera rubber-fig'
      'snake-plant rattlesnake-plant';
  }
}
@media (min-width: 56.3125rem) {
  .best-sellers-grid {
    grid-template-areas:
      'rubber-fig monstera monstera monstera '
      'snake-plant monstera monstera monstera '
      'rattlesnake-plant monstera monstera monstera ';
  }
}

.best-seller:nth-child(1) {
  grid-area: monstera;
  max-height: 100%;
}
.best-seller:nth-child(2) {
  grid-area: rubber-fig;
}
.best-seller:nth-child(3) {
  grid-area: snake-plant;
}
.best-seller:nth-child(4) {
  grid-area: rattlesnake-plant;
}

/* sections */
.showcase,
.overlay {
  height: 46.875rem;
}

.showcase {
  background: url(./assets/chris-abney-qLW70Aoo8BE-unsplash.jpg) center/cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

/*  */
.btn {
  font-size: 1rem;
  padding: 0.5em 1em;
}

/*  */
.bg-dark {
  background-color: var(--clr-dark);
}

.bg-dark-light {
  background-color: var(--clr-dark-light);
}

.text-light {
  color: var(--clr-light);
}

/* Font */
.ff-accent {
  font-family: var(--ff-accent);
}

.ff-200 {
  font-size: var(--ff-200);
}
